{% extends "base.html" %}

{% block content %}
<div class="content">
	<h1>Register</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>
			{{ form.username.label }}<br>
			{{ form.username }}

			{% for error in form.username.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.email.label }}<br>
			{{ form.email }}
		</p>
		<p>
			{{ form.password.label }}<br>
			{{ form.password }}

			{% for error in form.password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.repeat_password.label }}<br>
			{{ form.repeat_password }}

			{% for error in form.repeat_password.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.terms_and_conditions() }} {{ form.terms_and_conditions.label }}
		</p>
		<p>{{ form.register_button() }}</p>
	</form>
</div>
{% endblock %}

{% block head %}
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('auth.static', filename='register.css') }}">
{% endblock %}
